

@font-face {
	font-family: 'Aileron';
	src: url('aileron/aileron.eot'); /* IE9 Compat Modes */
	src: url('aileron/aileron.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('aileron/aileron.woff') format('woff'), /* Modern Browsers */
	     url('aileron/aileron.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('aileron/aileron.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;

}


body {
}


.ail {
    font-family: Aileron; 
}


